html, body{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/*Latihan 1*/
.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.sidebar-satu {
    margin-left: 5px;
    margin-right: 50px;
    max-width: 50%;
    min-width: 130px;
}
.sidebar-dua {
    margin-left: 10px;
}